---
import feather from 'feather-icons'
import { getLangFromUrl, useTranslations } from '../../../i18n/languagePicker'

const current_language = getLangFromUrl(Astro.url)
const t = useTranslations(current_language)

const tech_skills = [
	'astro',
	'bootstrap',
	'django',
	'flask',
	'git',
	'golang',
	'java',
	'jquery',
	'linux',
	'mysql',
	'nextjs',
	'node',
	'python',
	'react',
	'tailwind',
	'ts',
	'webdev',
]
---

<style>
	h1,
	h2 {
		font-family: 'Salsa', cursive;
		font-weight: bold;
	}

	.logo {
		filter: grayscale(100%);
		transition: filter 0.5s;
	}
	.logo:hover {
		filter: grayscale(0%);
	}
</style>

<div id="technical-skills">
	<h2 class="flex items-start gap-2 text-2xl uppercase text-rose-400">
		<span class="w-fit">{t('experience.technical-skills.title')} </span>
		<span
			class="mt-1 flex items-center"
			set:html={feather.icons.cpu.toSvg({
				class: 'text-rose-400 inline',
			})}
		/>
	</h2>
	<h3>{t('experience.technical-skills.intro')} 😊</h3>
	<ul
		class="mt-4 grid grid-cols-4 gap-4 min-[450px]:grid-cols-5 sm:grid-cols-6 lg:grid-cols-9"
	>
		{
			tech_skills.map((tech) => (
				<li>
					<img
						class="logo"
						src={`/portfolio/img/skills/${tech}.png`}
						alt={tech}
						title={tech}
					/>
				</li>
			))
		}
	</ul>
</div>
