---
import Layout from '../../layouts/Layout.astro'
---

<style>
	#title > p {
		font-family: 'Salsa', cursive;
	}
</style>

<Layout title="Ashley Lizbeth">
	<div
		id="title"
		class="flex h-screen w-full flex-col items-end justify-center px-8 text-end text-[#996633]"
	>
		<h1 class="text-6xl">Ashley Lizbeth</h1>
		<p class="w-3/4">A developer who cares deeply about her user's needs</p>
	</div>
</Layout>
