---
import feather from 'feather-icons'
import { getLangFromUrl, useTranslations } from '../../i18n/languagePicker'

const current_language = getLangFromUrl(Astro.url)
const t = useTranslations(current_language)
---

<style>
	h1,
	h2 {
		font-family: 'Salsa', cursive;
		font-weight: bold;
	}
	#about-me-body > p {
		margin-bottom: 1rem;
	}
</style>

<br class="mt-[20svh]" />
<section
	id="about-me"
	class="mb-28 flex scroll-mt-36 flex-col items-center justify-center"
>
	<div class="px-10 sm:px-16 md:px-20 lg:px-32">
		<div class="flex flex-col md:flex-row md:justify-between md:gap-4">
			<article id="about-me-body" class="md:w-3/5">
				<div class="mb-5">
					<h2
						class="flex w-full items-center justify-center gap-2 text-2xl uppercase text-secondary"
					>
						{t('about-me.title')}
						<span
							class="flex items-center"
							set:html={feather.icons.book.toSvg({
								class: 'text-secondary inline-block',
							})}
						/>
					</h2>
					<hr class="h-px border-0 bg-secondary" />
				</div>
				<p>
					{t('about-me.paragraph-1')}
				</p>
				<p>
					{t('about-me.paragraph-2')}
				</p>
				<p>
					{t('about-me.paragraph-3')}
				</p>
			</article>
			<div
				id="about-me-image"
				class="mt-4 flex items-center justify-center md:w-2/5"
			>
				<img
					src="/portfolio/img/me.png"
					alt="A photo of Ashley"
					class="w-4/5 rounded-full bg-neutral-800 min-[550px]:w-1/2 md:w-2/3"
				/>
			</div>
		</div>
	</div>
</section>
