---
import feather from 'feather-icons'

import { getLangFromUrl, useTranslations } from '../../i18n/languagePicker'

const current_language = getLangFromUrl(Astro.url)
const t = useTranslations(current_language)
---

<style>
	h1 {
		font-family: 'Salsa', cursive;
	}
</style>

<section id="contact-me" class="my-20">
	<div class="flex w-full flex-col justify-center">
		<div class="mb-2">
			<h1
				class="mb-2 flex w-full items-center justify-center gap-2 text-center text-4xl text-rose-400"
			>
				{t('contact-me.title')}
				<span
					class="flex items-center"
					set:html={feather.icons.phone.toSvg({
						class: 'text-rose-400 inline',
					})}
				/>
			</h1>
			<h2
				class="w-full text-center text-xl"
				set:html={t('contact-me.subtitle-1')}
			/>
			<p class="w-full text-center">
				{t('contact-me.subtitle-2')}
			</p>
		</div>

		<div class="flex w-full flex-col">
			<div class="flex justify-center">
				<div class="my-4 flex flex-col gap-2">
					<div
						class="flex justify-center gap-2 transition hover:text-rose-400"
					>
						<div set:html={feather.icons.mail.toSvg()} />
						<a href="mailto:lizbh26@proton.me" class=""
							>lizbh26@proton.me</a
						>
					</div>
					<div class="flex justify-center gap-2">
						<div set:html={feather.icons['map-pin'].toSvg()} />
						<p>Zapopan, Jalisco, México</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
