---
import feather from 'feather-icons'
---

<footer class="bg-neutral-800" id="footer">
	<div class="w-full pt-10">
		<ul class="flex justify-center gap-6">
			<li
				class="flex h-10 w-10 items-center justify-center transition hover:text-rose-400"
			>
				<a
					href="https://github.com/lizbh26"
					target="_blank"
					set:html={feather.icons.github.toSvg()}
				/>
			</li>
			<li
				class="flex h-10 w-10 items-center justify-center transition hover:text-rose-400"
			>
				<a
					href="https://www.linkedin.com/in/lizbh26/"
					target="_blank"
					set:html={feather.icons.linkedin.toSvg()}
				/>
			</li>
			<li class="">
				<a
					href="https://profile.indeed.com/p/ashleyb-b36nw9s"
					target="_blank"
					class="flex h-10 w-10 items-center justify-center"
					set:html={`
                            <svg class="fill-white hover:fill-rose-400 transition" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="28" viewBox="0 0 350 400" fill-rule="evenodd" clip-rule="evenodd">
                                <path d="M134.9,356.5V213c4.2,0.4,8.3,0.6,12.3,0.6    c20.1,0,38.9-5.3,54.9-14.5v157.5c0,13.4-3.1,23.4-9.4,30c-6.3,6.6-14.4,9.9-24.5,9.9c-9.8,0-17.7-3.3-23.9-10.1    C138.3,379.5,134.9,369.8,134.9,356.5z 
                                M135.3,12.7 C176.9-1.9,224.5-1.1,260,28.9c6.6,6.1,14.2,13.6,17.1,22.7c3.7,11.2-12.5-1.1-14.9-2.8c-11.6-7.4-23.2-13.6-36.3-17.9    c-70-21-136.3,16.9-177.5,76.1c-16.9,26-28.2,53.4-37.4,83.6c-0.9,3.3-1.8,7.6-3.7,10.5c-1.8,3.3-0.7-8.8-0.7-9.4    c1.5-12.5,4.1-24.5,7.2-36.6C32.9,90.9,74.9,37.3,135.3,12.7z 
                                M216,128.3c0,27.3-22.1,49.5-49.4,49.5s-49.4-22.1-49.4-49.5    s22.1-49.5,49.4-49.5S216,100.9,216,128.3z"/>
                            </svg>
                        `}
				/>
			</li>
		</ul>
	</div>
	<div class="pb-4 pt-8 text-center">
		<p class="">Elizabeth Barrera @ 2025</p>
		<p class="text-sm">Trans rights are humans rights</p>
	</div>
</footer>
