---
import { getLangFromUrl } from '../../i18n/languagePicker'
import { language_list, type languages } from '../../i18n/languages'

const current_language = getLangFromUrl(Astro.url)

let languages = []
for (let [key, _value] of Object.entries(language_list)) {
	languages.push(key)
}

function createRedirect(language: string) {
	return `/${language}/`
}
---

<div class="flex flex-col items-end justify-start">
	<ul class="mt-1 flex items-start rounded border-2 border-primary outline-1">
		{
			languages.map((language) => {
				if (language == current_language)
					return <li class="bg-primary px-2 py-1">{language}</li>
				return (
					<li class="px-2 py-1">
						<a
							class="transition hover:text-primary"
							href={createRedirect(language)}
						>
							{language}
						</a>
					</li>
				)
			})
		}
	</ul>
</div>
