---
import { getLangFromUrl } from '../../i18n/languagePicker'
import { language_list, type languages } from '../../i18n/languages'

const current_language = getLangFromUrl(Astro.url)

let languages = []
for (let [key, _value] of Object.entries(language_list)) {
	languages.push(key)
}

function createRedirect(language: string) {
	return `/portfolio/${language}/`
}
---

<div class="flex flex-col items-end justify-start">
	<ul class="mt-1 flex items-start rounded outline outline-1">
		{
			languages.map((language) => {
				if (language == current_language)
					return (
						<li class="bg-rose-400 px-2 py-1 outline-white">
							{language}
						</li>
					)
				return (
					<li class="px-2 py-1 outline-white">
						<a
							class="underline transition hover:text-rose-400"
							href={createRedirect(language)}
						>
							{language}
						</a>
					</li>
				)
			})
		}
	</ul>
</div>
