---
import { getLangFromUrl } from '../../i18n/languagePicker'
import { language_list, type languages } from '../../i18n/languages'

const current_language = getLangFromUrl(Astro.url)

let languages = []
for (let [key, _value] of Object.entries(language_list)) {
	languages.push(key)
}

function createRedirect(language: string) {
	const current_path = Astro.url.pathname.split(`/`)[3]
	return `/portfolio/${language}/${current_path ? current_path + '/' : ''}`
}
---

<div class="flex flex-col items-end justify-start">
	<ul class="mt-1 flex items-start outline outline-1 rounded">
		{
			languages.map((language) => {
				if(language == current_language)
					return (
						<li class="py-1 px-2 outline-white bg-[#b14eab]">
							{language}
						</li>
					)
				return (
					<li class="py-1 px-2 outline-white">
						<a class="underline" href={createRedirect(language)}>{language}</a>
					</li>
				)
			})
		}
	</ul>
</div>
