---
import Layout from '../../layouts/Layout.astro'
import UnderConstruction from '../../components/UnderConstruction.astro'

import { useTranslations } from '../../i18n/languagePicker'
import type { languages } from '../../i18n/languages'

export function getStaticPaths() {
	return [{ params: { lang: 'en' } }, { params: { lang: 'es' } }]
}

const { lang } = Astro.params
const t = useTranslations(lang as languages)
---

<style>
	#title > h1 {
		font-family: 'Caprasimo', serif;
	}
	#title > p {
		font-family: 'Salsa', cursive;
	}
</style>

<Layout title="Ashley Lizbeth - Portfolio">
	<div
		id="title"
		class="flex h-screen w-full flex-col items-end justify-center px-8 text-end text-[#996633]"
	>
		<h1 class="text-6xl">Ashley Lizbeth</h1>
		<p class="w-3/4">{t('home.tagline')}</p>
	</div>
	<div class="absolute top-2/3 lg:top-1/3">
		<UnderConstruction />
	</div>
</Layout>
