---
import Layout from '../../layouts/Layout.astro'

import Header from '../../components/sections/header.astro'
import AboutMe from '../../components/sections/about-me.astro'
import Experience from '../../components/sections/experience/index.astro'
import Work from '../../components/sections/work.astro'
import ContactMe from '../../components/sections/contact-me.astro'
import Footer from '../../components/sections/footer.astro'

export function getStaticPaths() {
	return [{ params: { lang: 'en' } }, { params: { lang: 'es' } }]
}
---

<Layout title="Ashley Lizbeth - Portfolio">
	<Header />
	<div class="relative z-20 bg-background">
		<AboutMe />
		<Experience />
		<ContactMe />
		<Footer />
	</div>
</Layout>
