---
import Layout from '../../layouts/Layout.astro'
import UnderConstruction from '../../components/UnderConstruction.astro'

export function getStaticPaths() {
	return [{ params: { lang: 'en' } }, { params: { lang: 'es' } }]
}
---

<Layout title="Ashley Lizbeth - Projects">
	<div class="flex h-screen flex-col justify-end">
		<UnderConstruction />
	</div>
</Layout>
