---
import Layout from '../../layouts/Layout.astro'
import UnderConstruction from '../../components/UnderConstruction.astro'
---

<Layout title="Ashley Lizbeth - Proyectos">
	<div class="flex h-screen items-end justify-end">
		<UnderConstruction />
	</div>
</Layout>
