---
interface Props {
	title: string
}

import { getLangFromUrl } from '../i18n/languagePicker'
const lang = getLangFromUrl(Astro.url)

const { title } = Astro.props

import Navbar from '../components/Navbar/NavbarBody.astro'
---

<html lang={lang} class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/portfolio/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Luckiest+Guy&family=Salsa&display=swap"
			rel="stylesheet"
		/>
		<script is:inline src="https://code.jquery.com/jquery-3.7.0.min.js"
		></script>
	</head>
	<body class="overflow-x-hidden bg-neutral-900 text-white">
		<Navbar />
		<slot />
	</body>
</html>
