---
interface Props {
	title: string
}

import { getLangFromUrl } from '../i18n/languagePicker'
const lang = getLangFromUrl(Astro.url)

const { title } = Astro.props

import Navbar from '../components/Navbar.astro'
import Background from '../components/Background.astro'
---

<style>
	body {
		font-family: 'Caprasimo', serif;
	}
</style>

<html lang={lang}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/portfolio/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Luckiest+Guy&family=Salsa&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body class="bg-black text-[#996633]">
		<Navbar />
		<slot />
		<Background />
	</body>
	<script is:inline src="https://code.jquery.com/jquery-3.7.0.min.js"
	></script>
	<script>
		const mouseover = new MouseEvent('mouseover', {
			view: window,
			bubbles: true,
			cancelable: true,
		})
		const mouseout = new MouseEvent('mouseout', {
			view: window,
			bubbles: true,
			cancelable: true,
		})

		function simulateMouseEventWhenPresingTab(e: JQuery.KeyUpEvent) {
			if (e.key === 'Tab') {
				lastTarget.dispatchEvent(mouseout)
				e.target.dispatchEvent(mouseover)
				lastTarget = e.target
			}
		}

		let lastTarget = document
		$(document).on('keyup', simulateMouseEventWhenPresingTab)
	</script>
</html>
